html, body {
    height: 100%;
}
body {
    color: #343434;
    font: 2em/1.4 "Droid Sans", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    color: #205AAF;
    text-decoration: none;
}
a.share {
    background-repeat: no-repeat;
    display: block;
    width: 45px;
    height: 55px;
    text-indent: -999px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h2, h3, h4, h5, h6 { 
    line-height: 1.2;
    margin: 0; 
}
h1 { 
    color: #d4d4d4;
    font-size: 2em; 
    margin: 0.75em 0;
    padding: 0 1em;
}
h1 a {
    color: #d4d4d4;
    padding-left: 60px;
}
h2 { 
    font-size: 1.6em; 
    margin: 0 0 0.15em;
}
.inv {
	visibility: hidden;
}

#wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 0 -55px;
    min-height: 100%;
}

#container {
    padding: 7px 0 0;
    position: relative;
}

#header {
    height: auto;
    position: relative;
    width: 90%;
    margin: 40px auto 0;
}

#header #logo {
    bottom: 2em;
    display: block;
    left: 2em;
    position: absolute;
}
#header #logo img { display: block; }
#header #location {
    bottom: 2.7em;
    color: #898989;
    font: normal 0.8em/1.3 "Droid Sans", arial;
    margin: 0;
    position: absolute;
    text-align: right;
    right: 2.5em;
}
#header #location a { color: #898989; }

#footer {
    width: 100%;
}
#footer-content { 
    padding: 1em 0;
    text-align: center;
    font-size: 1em;
    bottom: 0px;
    width: 100%;
    background: black;
    color: white;
}
#footer-content a{
	color: white;
}
#footer p {
    font: 0.6em/55px "Arial", sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#footer #full-site {
    font-weight: bold;
    margin-left: 3em;
}

#footer ul {
    height: 55px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#footer ul li {
    display: inline-block;
    margin: 0;
    line-height: 55px;
    vertical-align: top;
}
#footer #share-facebook-link { background-position: -135px 0; }
#footer #share-reddit-link { background-position: -45px 0; }
#footer #share-twitter-link { background-position: -90px 0; }

#content {
    background: #fff;
    margin-bottom: 55px;
    overflow: hidden;
}

#content #nav {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 1.5em;
}
#content #nav li {
    float: left;
    height: 2em;
    width: 50%;
}
#content #nav li a {
    font-size: 0.7em;
    font-weight: normal;
    display: block;
    padding: 0.5em 0;
    text-align: center;
}
#content #nav li.active {
}
#content #nav li.active > a {
    color: #fff;
    background-position: left -100px;
}

#index #content { 
    padding: 2em 2em 55px; 
}
#index #content #nav {
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}
#index #content #nav li {
    margin-bottom: 1.5em;
    width: 100%;
    height: auto;
}
#index #content #nav li#nav-full-site {
    margin: 0.75em 0 0;
}
#content input#user_password {
	border: 1px solid #AAA;
	font-size: inherit;
	width: 100%;
	padding: 1.25em 0.5em;
	font-size: 2em;
	text-align: center;
	margin-bottom: 1.5em;
}
#content form#vote input {
	width: 30%;
	margin-left: 5%;
	float: left;
	margin-bottom: 1em;
}
#content form#vote input:nth-child(3n+1) {
	margin-left: 0;
}
#index #content #nav li a,
#content input[type="submit"],
#content input[type="hidden"],
.instruction {
	width: 100%;
	border: 0px solid white;
    background: transparent url(/images/nav-button-bg.png) repeat-x top left;
    color: #fff;
    display: block;
    font-family: 'Droid Sans', arial;
    font-size: 2em;
    padding: 1.25em 0;
    text-align: center;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
}

#agenda #agenda-container { 
    list-style: none;
    margin: 0;
    padding: 0;
}
#agenda #agenda-container .day {
    padding: 0 2em;
}

#agenda #agenda-container .day h1 {
    margin: 0.5em 0 0.25em;
    padding: 0;
}
#agenda #agenda-container .day h2 { color: #0066cc; }

#agenda #agenda-container ul { 
    list-style: none;
    margin: 0;
    padding: 0;
}
#agenda #agenda-container ul li { 
    border-bottom: 1px solid #D4D4D4;
    margin: 0 -2em;
    padding: 1em 2em;
}
#agenda #agenda-container ul li div { 
    display: inline-block;
}
#agenda #agenda-container ul li .time { min-width: 40%; }

#tracks #tracks-container {
    border-top: 1px solid #D4D4D4;
    list-style: none;
    margin: 0;
    padding: 0 2em;
}
#tracks #tracks-container li {
    border-bottom: 1px solid #D4D4D4;
    margin: 0 -2em;
    padding: 0 2em;
}
#tracks #tracks-container li a {
    display: block;
    font-size: 1.3em;
    line-height: 3em;
}

#sessions #sessions-container {
    border-top: 1px solid #D4D4D4;
    list-style: none;
    margin: 0;
    padding: 0 2em;
}
#sessions #sessions-container .session {
    border-bottom: 1px solid #D4D4D4;
    margin: 0 -2em;
    padding: 0 2em;
}
#sessions #sessions-container .session a {
    display: block;
    font-size: 1.3em;
    line-height: 3em;
    padding: 0.5em 75px 0.5em 0;
}
#sessions #sessions-container .session a h2 {
    font-size: 1em;
    margin-bottom: 0.2em;
}
#sessions #sessions-container .session a .info { 
    color: #363636;
    line-height: 1.3;
    font-size: 0.6em;
}
#sessions #sessions-container .session a .info .livestream {
    display: inline-block;
    font-size: smaller;
    min-height: 24px;
    margin-left: 1em;
    padding-left: 60px;
    text-transform: uppercase;
    vertical-align: middle;
}

#session-detail #info { 
    padding: 0 2em 2em;
}
#session-detail #info #location { 
    line-height: 1.5;
    font-size: 0.8em;
}
#session-detail #info p {
    color: #939393;
    font-size: 1em;
}
#session-detail #info ul {
    list-style: none;
    margin: 3em 0 0;
    padding: 0;
}
#session-detail #info li { color: #939393; }

#session-detail #speakers { 
    border-top: 1px solid #ebebeb;
    padding: 2em; 
}
#session-detail .speaker p { 
    color: #939393;
}